.fade {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-out {
    opacity: 0;
  }
  .bg-custom {
    background: url('../src/assets/Eid.Mubarak.3.jpg') no-repeat left center, url('../src/assets/fireworks.png');
    background-size: contain;
  }