---
import OIACLayout from "../layouts/oiac-layout.astro"
import OIACFront from "../assets/OIAC.Front.webp"
import OIACPrayerHall from "../assets/OIAC.PrayerHall.webp"
---

<OIACLayout title="OIAC - About us">
    <div class="px-4 p-2 md:px-8 md:py-2 mx-auto bg-indigo-950">
        <div class="container mt-5 mb-10 md:mb-72 bg-indigo-900 rounded-lg text-white text-xl">
            <div class="p-10 bg-indigo-800 rounded-t-lg">
                <h4 class="text-4xl">About us</h4>
            </div>
            <div class="p-1 md:p-10 flex flex-wrap md:gap-6">
                <div>
                    <img src={OIACPrayerHall.src} alt="OIAC" class="rounded-lg" />
                </div>
                <div class="p-2">
                    <p class="mb-6">Our pursuit of excellence embraces Islamic values aligned with building and maintaining a learning community that produces leaders through faith, knowledge, and inspiration.</p>

    

                    <p class="mb-6">To promote a culture of educational excellence, from within a caring and secure Islamic environment enriched with the values of discipline, mutual care, and respect, which extends beyond the school into the wider community.</p>

    

                    <p class="mb-6">We are aiming to make everyone reach the potential to succeed within a high-quality and intellectually challenging educational environment To do this we

                    recruit qualified teachers who carry out our mission and vision passionately.</p>

    

                    <p>We are aiming to make everyone reach the potential to succeed within high quality and intellectually challenging educational environment.</p>
                </div>
            
            </div>
        </div>
    </div>
</OIACLayout>