---
import OIACLayout from "../layouts/oiac-layout.astro";
import Donate2Component from "../components/Donate3.astro";
---

<OIACLayout title="OIAC New Islamic Centre - Donate">
  <div class="px-4 p-2 md:px-8 md:py-2 mx-auto bg-indigo-950">
    <div class="container mt-5 mb-10">
      <Donate2Component />
    </div>
  </div>
</OIACLayout>
