---
import OIACLayout from "../layouts/oiac-layout.astro"
import EventsComponent from "../components/Events.astro";
---
<OIACLayout title="OIAC - Events">
    <div class="p-1 md:px-8 md:py-2 md:mx-auto bg-cyan-50">
        <div class="md:container mt-1 md:mt-5 mb-10">
            <EventsComponent></EventsComponent>
            
        </div>
    </div>
</OIACLayout>
