---
import OIACLayout from "../layouts/oiac-layout.astro";
import Donate from "../components/Donate2.astro";
import Volunteer from "../components/Volunteer2.astro";
import Imams from "../components/Imams.astro";
import Newsletter from "../components/Newsletter2.astro";
import Contact from "../components/Contact.astro";
import EventsAndPosts from "../components/EventsAndPosts.astro";
import Announcements from "../components/Announcements.astro";
import PopupPoster from "../components/PopupPoster.astro";

// New Fundraiser Success Components
import FundraiserSuccess from "../components/FundraiserSuccess.astro";
import VideoShowcase from "../components/VideoShowcase.astro";
import ImpactStats from "../components/ImpactStats.astro";
import DualCTA from "../components/DualCTA.astro";
import CommunityMessage from "../components/CommunityMessage.astro";
---

<OIACLayout title="Welcome to OIAC">
  <div class="w-full mx-auto">
    <div class="">
      <!-- Fundraiser Success Campaign -->
      <FundraiserSuccess />
      <VideoShowcase />
      <ImpactStats />
      <DualCTA />
      <CommunityMessage />

      <!-- Existing Components -->
      <Announcements />
      <EventsAndPosts />
      <Donate />
      <Volunteer />
      <Imams />
      <Newsletter />
      <Contact />
    </div>
  </div>
</OIACLayout>

