---
import Nav from "../components/Nav.astro"
import NavPrayerTimes from "../components/NavPrayerTimes.astro"
import Header from "../components/Header.astro"
import Welcome from "../components/Welcome.astro"
import LatestPosts from "../components/LatestPosts.astro"
import Events from "../components/Events.astro"
import PrayerTimes from "../components/PrayerTimes.astro"
import Donate from "../components/Donate.astro"
import Volunteer from "../components/Volunteer.astro"
import Imams from "../components/Imams.astro"
import Newsletter from "../components/Newsletter.astro"
import Contact from "../components/Contact.astro"
import Footer from "../components/Footer.astro"
import EventsAndPosts from "../components/EventsAndPosts.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="../src/assets/OIAC.Logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Welcome to OIAC Edmonton</title>
	</head>
	<body>
		<Header></Header>
		<EventsAndPosts></EventsAndPosts>
		
		
		<Donate></Donate>
		<Volunteer></Volunteer>
		<Imams></Imams>
		<Newsletter></Newsletter>
		<Contact></Contact>
		<Footer></Footer>
	</body>
</html>
