---
import OIACLayout from "../layouts/oiac-layout.astro"
import interacLogo from "../assets/Interac.Logo1.png"
---
<OIACLayout title="OIAC - New Centre">
    <div class="px-4 p-2 md:px-8 md:py-2 mx-auto text-gray-800">
        <div class="container mt-5 mb-10">
            <div class="p-10 bg-emerald-100 rounded-2xl">
                <h4 class="text-4xl font-black text-emerald-950">New Omar Ibn Al Khattab Centre</h4>
                <div class="py-5">
                    <p class="mb-3">
                    For years, the Omar bin-al-Khattab centre has been the heart of our community. A place of worship, learning and connection.
                    But as our community grows, so do our needs.
                    The current centre, though vibrant and full of life, is bursting at the seams. We have reached a point of saturation where our beloved centre can no longer adequately serve the needs of our expanding community.
                    However, there is hope in the horizon.
                    </p>
                    <p class="mb-3">
                    Introducing the new Omar bin-al-Khattab centre, a beacon of progress and possibility. This purpose-built facility will be more than just a building. It will be a hub of activity. A place where our children can learn and grow,  where families can come together in prayer and fellowship and where the bonds of community are strengthened.
                    </p>
                    <p class="mb-3">
                    But we can’t do this alone. We need your help to turn this vision into reality. Together we can build a centre that not only meets the needs of today, but anticipates the needs of tomorrow.
                    </p>
                    <p class="mb-3">
                    Donate now and be a part of something truly transformative, empowering our community, building our future.
                    </p> 
                    
                    <div class="flex-row mt-10">
                        
                        <div>
                            <a href="https://donate.stripe.com/8wMbLBgvxdIbcZG7ss" target="_blank" class="bg-emerald-600 text-white text-2xl rounded-xl px-24 py-2">Donate</a>
                        </div>
                        
                        <div class="flex gap-3 py-8">
                            <img src={interacLogo.src} width="40px" alt="Interac" />
                            <div class="font-bold bg-teal-700 text-gray-50 rounded-lg text-center mt-3 w-fit px-3">
                                <span>new.project@oiacedmonton.ca</span>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>

            <div class="p-5 border-b border-gray-500 mb-2">
                <div class="p-5">
                    <h4 class="text-4xl font-black">New Centre Preview</h4>
                    <label class="px-3 bg-teal-500 text-white rounded-xl">March 30, 2024</label>
                </div>
                <div class="p-5">
                    <div style="position:relative; width:100%; height:0px; padding-bottom:56.250%"><iframe allow="fullscreen" allowfullscreen height="100%" src="https://streamable.com/e/0kktoh?loop=0" width="100%" style="border:none; width:100%; height:100%; position:absolute; left:0px; top:0px; overflow:hidden;" class="rounded-xl"></iframe></div>
                </div>
                
            </div>

            <div class="p-5 border-b border-gray-500 mb-2">
                <div class="p-5">
                    <h4 class="text-4xl font-black">Soil Testing done</h4>
                    <label class="px-3 bg-teal-500 text-white rounded-xl">March 28, 2024</label>
                </div>
                <div class="p-5">
                    <div style="position:relative; width:100%; height:0px; padding-bottom:56.250%"><iframe allow="fullscreen" allowfullscreen height="100%" src="https://streamable.com/e/1p3zlg?loop=0" width="100%" style="border:none; width:100%; height:100%; position:absolute; left:0px; top:0px; overflow:hidden;" class="rounded-xl"></iframe></div>
                </div>
                
            </div>

            <div class="p-5 border-b border-gray-500 mb-2">
                <div class="p-5">
                    <h4 class="text-4xl font-black">Announcement Video</h4>
                    <label class="px-3 bg-teal-500 text-white rounded-xl">March 22, 2024</label>
                </div>
                <div class="p-5">
                     <div style="position:relative; width:100%; height:0px; padding-bottom:56.250%"><iframe allow="fullscreen" allowfullscreen height="100%" src="https://streamable.com/e/z9cu1p?loop=0" width="100%" style="border:none; width:100%; height:100%; position:absolute; left:0px; top:0px; overflow:hidden;" class="rounded-xl"></iframe></div>
                </div>
               
            </div>
        </div>
    </div>
</OIACLayout>