---
import OIACLayout from "../layouts/oiac-layout.astro"
import PostsComponent from "../components/LatestPosts.astro";
---
<OIACLayout title="OIAC - Programs">
    <div class="p-1 md:px-8 md:py-2 md:mx-auto">
        <div class="md:container mt-1 md:mt-5 mb-10">
            <PostsComponent></PostsComponent>
            
        </div>
    </div>
</OIACLayout>
