---
import SalaryGrid from "../components/SalaryGrid.astro";
import OIACLayout from "../layouts/oiac-layout.astro";
---

<OIACLayout title="OIAC - New Centre">
    <main>
        <SalaryGrid />
      </main>
</OIACLayout>