<!-- ---
import OIACLayout from "../layouts/oiac-layout.astro"
// import { insertPrayerTimes } from "../components/BulkInsertPrayerTimes"

// insertPrayerTimes()

export type EmailTemplateParameters = {
    subject:string,
    message:string,
    to:string,
    sender:string
}

export type EmailModel = {
    service_id : string,
    template_id : string,
    user_id : string,
    accessToken : string,
    template_params : EmailTemplateParameters
}

var templateParams : EmailTemplateParameters = {
        "subject": "Test Email",
        "message": "This is a test email 333",
        "to":"ibrahim_na@outlook.com",
        "sender":"info@oiacedmonton.ca"
    }

var emailModel : EmailModel = {
    service_id: "service_s0stxqp",
    template_id: "template_kyv86rq",
    user_id: "-jhHh_WH8nOiMuzsZ",
    accessToken : "Q1FVkKg7Evc0wtI2WCZ0M",
    template_params : templateParams
}

fetch('https://api.emailjs.com/api/v1.0/email/send',{
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body: JSON.stringify(emailModel)
        })
        .then(res => res.json())
        .then(data => {
            
            console.log('EMAIL SUCCESS => ', JSON.stringify(data))
        })
        .catch(error => {
            
            console.error('EMAIL ERROR => ', JSON.stringify(error))
        })





---
<OIACLayout title="OIAC - Test">
    <div class="md:container md:mx-auto bg-indigo-950 text-white">
        <div class="">
            <h1>Test</h1>
            
        </div>
    </div>
</OIACLayout> -->