<div class="px-4 p-2 md:px-8 md:py-2 mx-auto mt-10">
    <div class="container">
        <div class="bg-gradient-to-b from-cyan-500 to-emerald-500 text-emerald-950 font-bold rounded-2xl shadow-xl shadow-emerald-500/50 p-5 text-2xl text-center">
            <div>
                <p>
                    Eid Mubarak, Wishing everyone a peaceful and blessed Eid
                </p>
            </div>
            
            <div class="flex gap-5 text-sm mt-5">
                <label class="bg-gray-950 text-white rounded-lg px-5 py-1">Eid Prayers</label>
                <label class="bg-gray-950 text-white rounded-lg px-5 py-1">7:00 AM</label>
                <label class="bg-gray-950 text-white rounded-lg px-5 py-1">8:00 AM</label>
            </div>
        </div>
    </div>
    
</div>