---
import "../styles/global.css";
---

<div
  class="keela-embed-form"
  data-src="https://give-can.keela.co/embed/YyhvboD7jNBMWKGTH"
>
  <div class="keela-loading">
    <div></div><div></div><div></div><div></div>
  </div>
</div>
