---
import donateImage from "../assets/donate-image.jpg"
import interacLogo from "../assets/Interac.Logo1.png"
---

<div class="px-4 p-2 md:px-8 md:py-2 mx-auto">
    <div class="container mt-5">
        <div class="bg-emerald-950 rounded-xl text-gray-100 p-5">
            

            <div class="p-2 md:p-20 flex flex-wrap space-x-2 md:space-x-12 lg:space-x-24">
                <div class="w-full md:w-[40%] lg:w-[50%] xl:w-[60%]">
                    <h4 class="text-4xl font-black mb-10">Donate</h4>
                    <p class="mb-3">Help us to improve our services and to offer much more to our community by donating generously.</p>
                    <p class="mb-3">Your donations big or small makes a significant impact.</p>
                    <p class="mb-9">Jazakumullah Khair for your continous donations and support.</p>

                    <div class="">
                        <div>
                            <h4 class="text-xl">Choose amount</h4>
                        </div>
                        <div class="flex flex-wrap gap-6 mt-3">
                            <div class="bg-emerald-500 text-white font-bold hover:bg-emerald-600 p-2 rounded-md divDonateAmount block">
                                <input type="radio" id="donateAmount25" name="amount" value="25" class="radioDonateAmount" />
                                <label for="donateAmount25" class="pl-1">25</label>
                            </div>
                            <div class="bg-emerald-500 text-white font-bold hover:bg-emerald-600 p-2 rounded-md divDonateAmount block">
                                <input type="radio" id="donateAmount50" name="amount" value="50" class="radioDonateAmount" />
                                <label for="donateAmount50" class="pl-1">50</label>
                            </div>
                            <div class="bg-emerald-500 text-white font-bold hover:bg-emerald-600 p-2 rounded-md divDonateAmount block">
                                <input type="radio" id="donateAmount100" name="amount" value="100" class="radioDonateAmount" />
                                <label for="donateAmount100" class="pl-1">100</label>
                            </div>
                            <div class="bg-emerald-500 text-white font-bold hover:bg-emerald-600 p-2 rounded-md divDonateAmount block">
                                <input type="radio" id="donateAmount200" name="amount" value="200" class="radioDonateAmount" />
                                <label for="donateAmount200" class="pl-1">200</label>
                            </div>
                            <div class="bg-emerald-500 text-white font-bold hover:bg-emerald-600 p-2 rounded-md divDonateAmount block">
                                <input type="radio" id="donateAmount250" name="amount" value="250" class="radioDonateAmount" />
                                <label for="donateAmount250" class="pl-1">250</label>
                            </div>
                            <div class="bg-emerald-500 text-white font-bold hover:bg-emerald-600 p-2 rounded-md divDonateAmount block">
                                <input type="radio" id="donateAmount500" name="amount" value="500" class="radioDonateAmount" />
                                <label for="donateAmount500" class="pl-1">500</label>
                            </div>
                            <div class="bg-emerald-500 text-white font-bold hover:bg-emerald-600 p-2 rounded-md divDonateAmount block">
                                <input type="radio" id="donateAmount1000" name="amount" value="1000" class="radioDonateAmount" />
                                <label for="donateAmount1000" class="pl-1">1000</label>
                            </div>
                            <div class="bg-emerald-500 text-white font-bold hover:bg-emerald-600 p-2 rounded-md divDonateAmount block">
                                <input type="radio" id="donateAmountCustom" name="amount" value="custom" class="radioDonateAmount" />
                                <label for="donateAmountCustom" class="pl-1">Enter</label>
                            </div>
                        </div>
                        <div class="h-[50px] py-5">
                            <div class="alert-div-donate hidden text-center p-2 rounded-md w-fit">
                                
                            </div>
                        </div>
                    </div>
        
                    <div class="flex flex-wrap gap-6">
                        <button class="grow bg-teal-600 hover:bg-emerald-600 text-white text-lg font-bold py-4 px-10 rounded donate-once">Donate (One time)</button>
                        <button class="grow bg-teal-600 hover:bg-emerald-600 text-white text-lg font-bold py-4 px-10 rounded donate-monthly">Donate (Monthly)</button>
                    </div>

                    <div class="mt-24 flex flex-wrap gap-6">
                        <div>
                            <img src={interacLogo.src} width="100px" alt="Interac" />
                        </div>
                        
                        <div class="text-xl">
                            <p>To donate via Interac / e-Transfer, please send it to </p>
                            <div class="font-bold bg-yellow-500 text-gray-800 rounded-lg text-center mt-3 w-fit px-3">
                                <span>accounting@oiacentre.com</span>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="hidden md:block flex-shrink-0">
                <img class="resize-none rounded-3xl h-[400px]" src={donateImage.src} alt="Donate"></img>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    import { showNotification } from "../components/Alert"
    const radioDonateAmount = document.querySelectorAll('.radioDonateAmount') as NodeList
    const buttonDonateOnce = document.querySelector('.donate-once') as HTMLButtonElement
    const buttonDonateMonthly = document.querySelector('.donate-monthly') as HTMLButtonElement
    const divDonateAmount = document.querySelector('.divDonateAmount') as HTMLDivElement
    const oneTimeDonation25 = 'https://donate.stripe.com/14k9E38sseqccpO6ou'
    const monthlyDonation25 = 'https://buy.stripe.com/00g9E38ss3Ly61qdQR'
    const oneTimeDonation50 = 'https://donate.stripe.com/aEUcQf9ww6XK61qdQX'
    const monthlyDonation50 = 'https://buy.stripe.com/eVag2r38895S89yaEG'
    const oneTimeDonation100 = 'https://donate.stripe.com/cN217xgYYeqcahG6ow'
    const monthlyDonation100 = 'https://buy.stripe.com/aEU9E3eQQ81O61q28b'
    const oneTimeDonation200 = 'https://donate.stripe.com/8wM9E3dMM81O4Xm14d'
    const monthlyDonation200 = 'https://buy.stripe.com/00g8zZ8ss81O9dCbIN'
    const oneTimeDonation250 = 'https://donate.stripe.com/7sI8zZ5ggbe089y9AN'
    const monthlyDonation250 = 'https://buy.stripe.com/cN27vVgYY2Hu89y5ku'
    const oneTimeDonation500 = 'https://donate.stripe.com/9AQ8zZ6kk95S0H6aES'
    const monthlyDonation500 = 'https://buy.stripe.com/28o03taAA5TGfC014f'
    const oneTimeDonation1000 = 'https://donate.stripe.com/6oEeYnaAAci4fC014j'
    const monthlyDonation1000 = 'https://buy.stripe.com/3cseYnbEEci44XmcMY'
    const oneTimeDonationCustom = 'https://donate.stripe.com/9AQ2bBeQQ95SblK9AA'

    

    buttonDonateOnce.addEventListener('click', event => {
        event.preventDefault()
        prepareDonation('once')
    })

    buttonDonateMonthly.addEventListener('click', event => {
        event.preventDefault()
        prepareDonation('monthly')
    })

    const getSelectedDonationAmount = () => {
        const radioGroupDonateAmount = document.querySelector('input[name="amount"]:checked') as HTMLInputElement
        return radioGroupDonateAmount?.value

    }

    const prepareDonation = (donationType:string) => {
        const selectedDonationAmount = getSelectedDonationAmount()
        if(selectedDonationAmount === undefined){
            showNotification('warning', 'Select amount to donate', 'alert-div-donate')
            return
        }
        if(donationType === 'monthly' && selectedDonationAmount === 'custom'){
            showNotification('warning', 'Select fixed amount to donate monthly', 'alert-div-donate')
            return
        }
        if(donationType === 'once'){
            switch(selectedDonationAmount){
                case "25":
                    openStripePage(oneTimeDonation25)
                    break
                case "50":
                    openStripePage(oneTimeDonation50)
                    break 
                case "100":
                    openStripePage(oneTimeDonation100)
                    break
                case "200":
                    openStripePage(oneTimeDonation200)
                    break 
                case "250":
                    openStripePage(oneTimeDonation250)
                    break 
                case "500":
                    openStripePage(oneTimeDonation500)
                    break 
                case "1000":
                    openStripePage(oneTimeDonation1000)
                    break 
                case "custom":
                    openStripePage(oneTimeDonationCustom)
                    break 
            }
        } else if(donationType === 'monthly'){
            switch(selectedDonationAmount){
                case "25":
                    openStripePage(monthlyDonation25)
                    break
                case "50":
                    openStripePage(monthlyDonation50)
                    break 
                case "100":
                    openStripePage(monthlyDonation100)
                    break
                case "200":
                    openStripePage(monthlyDonation200)
                    break 
                case "250":
                    openStripePage(monthlyDonation250)
                    break 
                case "500":
                    openStripePage(monthlyDonation500)
                    break 
                case "1000":
                    openStripePage(monthlyDonation1000)
                    break 
            }
        }
    }

    const openStripePage = (url:string) => {
        window.open(url, '_blank')?.focus()
    }
</script>