---
import oiacLogo from '../assets/oiac-logo-removebg-preview.webp'
---

<div class="bg-gray-800 px-4 p-2 md:px-8 md:py-2 mx-auto">
    <div class="container">
        <div class="rounded-xl text-gray-100 p-1 md:px-20 md:py-5 flex flex-wrap gap-10">
            <div class="w-full md:w-[45%]">
                <div class="mb-5">
                    <img class=' w-32 h-28 mx-auto' src={oiacLogo.src} alt="OIAC Logo" />
                </div>
                <h4 class="w-full text-4xl my-5 mx-auto">Omar Ibn Al Khattab Centre</h4>
                <p class="w-full">
                    Our aim and purpose at the Omar Ibn Al Khattab Centre is to serve the best interests of Islam and the Muslims of Edmonton
                </p>
            </div>
            <div class="w-full md:w-[45%] flex flex-wrap gap-12 md:gap-12 justify-between mt-1 md:mt-10">
                <div class="w-full md:w-[50%] mx-auto md:mx-2">
                    <ul class="text-xl">
                        <li><a href="">Home</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Prayer Times</a></li>
                        <li><a href="">Programs</a></li>
                        <li><a href="">Events</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
                <div class="w-full md:w-[50%] mx-auto md:mx-2">
                    <ul class="text-xl">
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Youtube</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="text-white p-2 md:px-20 md:py-2">
            <p><span>&copy;</span> All Rights Reserved</p>
        </div>
    </div>
</div>