---
import Nav from "./Nav.astro"
import NavPrayerTimes from "./NavPrayerTimes.astro"
import NavPrayerTimes2 from "./NavPrayerTimes2.astro"
---

<div>
    <Nav></Nav>
    <NavPrayerTimes2></NavPrayerTimes2>
</div>
