---
import Nav from "./Nav.astro"
import NavPrayerTimes from "./NavPrayerTimes.astro"
---

<div class="w-full fixed top-0">
    <Nav></Nav>
    <NavPrayerTimes></NavPrayerTimes>
</div>
<div class="h-[200px]"></div>