---
import blankProfilePicture from '../assets/blank-profile-picture.png'
---

<div class="bg-cyan-600 px-4 p-2 md:px-8 md:py-2 mx-auto mt-5">
    <div class="container mt-5">
        <div class="rounded-xl text-gray-100 p-5">
            <h4 class="text-4xl mb-10">Our Imams</h4>
            <div class="flex flex-wrap md:justify-between">
                <div class="w-full m-5 md:w-[48%] md:m-[1%] lg:w-[31%]">
                    <img src={blankProfilePicture.src} alt="profile picture" class="rounded-full m-1 w-[50%] mx-auto" />
                    <h4 class="text-2xl text-center my-5">SHAIKH AHMED SAEED</h4>
                    <p class="my-3">Over 10 years of experience as an Imam, a teacher of Quran and Islamic Studies, proficient in Quran recitation and Hadeeth sciences.</p>
                </div>

                <div class="w-full m-5 md:w-[48%] md:m-[1%] lg:w-[31%]">
                    <img src={blankProfilePicture.src} alt="profile picture" class="rounded-full m-1 w-[50%] mx-auto" />
                    <h4 class="text-2xl text-center my-5">SHAIKH AHMED SAEED</h4>
                    <p class="my-3">Over 10 years of experience as an Imam, a teacher of Quran and Islamic Studies, proficient in Quran recitation and Hadeeth sciences.</p>
                </div>

                <div class="w-full m-5 md:w-[48%] md:m-[1%] lg:w-[31%]">
                    <img src={blankProfilePicture.src} alt="profile picture" class="rounded-full m-1 w-[50%] mx-auto" />
                    <h4 class="text-2xl text-center my-5">SHAIKH AHMED SAEED</h4>
                    <p class="my-3">Over 10 years of experience as an Imam, a teacher of Quran and Islamic Studies, proficient in Quran recitation and Hadeeth sciences.</p>
                </div>
            </div>

        </div>
    </div>
</div>