---
// import blankProfilePicture from "../assets/blank-profile-picture.png";
// import shaikhMusab from "../assets/SheikhMusab2.png";
// import shaikhSaid from "../assets/ShaikhSaid2.png";
// import shaikhYousif from "../assets/ShaikYousif2.png";
// import ustadAhmed from "../assets/UstadAhmed1.jpeg";
// import sheikhAhmedSaeed from "../assets/SheikhAhmedSaeed2.png";

import { getStaffMembers, type Staff } from "../graphql/staff";
import defaultProfilePicture from "../assets/blank-profile-picture.png";
const imams: Array<Staff> = await getStaffMembers("Imam");
---

<div class="bg-teal-600 mx-auto mt-5">
  <div class="mt-5">
    <div class="container text-gray-50 py-5">
      <h4 class="text-4xl font-black mb-10 px-5">Our Imams</h4>
      <div class="flex flex-wrap">
        {
          imams.map((imam) => (
            <div class="w-full m-5 md:w-[48%] md:m-[1%] lg:w-[31%] bg-teal-700 rounded-2xl">
              <div class="bg-teal-800 rounded-t-2xl p-3">
                {/* <img src={imam.profilePicture?} alt="profile picture" class="rounded-full bg-teal-900 m-1 w-48 h-48 object-cover mx-auto" /> */}
                <img
                  src={imam.profilePicture?.url || defaultProfilePicture.src}
                  alt={
                    imam.name
                      ? `${imam.name}'s profile picture`
                      : "Default profile picture"
                  }
                  class="rounded-full bg-teal-900 m-1 w-48 h-48 object-cover mx-auto"
                />
                <h4 class="text-4xl font-black text-center my-5 text-gray-950">
                  {imam.name}
                </h4>
              </div>
              <div class="p-3">
                {imam.description && (
                  <div
                    class="prose prose-emerald max-w-none prose-p:mt-2 prose-p:mb-2 text-white"
                    set:html={imam.description.html}
                  />
                )}
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
