---
import hifzImage from '../assets/OIAC-Hifz-Program.webp'
import karateImage from '../assets/OIAC-KARATE-scaled.webp'
import quranIntensiveImage from '../assets/OIAC-Quran-Intensive-1.webp'
---
<div class="px-4 p-2 md:px-8 md:py-2 mx-auto">
    <div class="container mt-5">
        <div class="flex justify-between">
            <h4 class="text-2xl">LATEST POSTS</h4>
            <a class="text-lg" href="#">See all posts</a>
        </div>
        
        <!-- <div class="flex flex-wrap justify-between mt-5">
            <div class="border border-black-100 rounded-md w-full md:w-[50%] lg:w-[33%] h-[700px]">
                <div>
                    <img class="rounded-md h-[500px]" src={hifzImage.src} alt="OIAC Hifz Program"></img>
                </div>
                <div class="p-5">
                    <h4 class="text-2xl">After School Hifz Program</h4>
                    <ul>
                        <li>Three Classes per week</li>
                        <li>Kids will be taught Islamic Etiquettes and Adab</li>
                    </ul>
                </div>
            </div>
            <div class="border border-black-100 rounded-md w-full md:w-[50%] lg:w-[33%] h-[700px]">
                <div>
                    <img class="rounded-md h-[500px]" src={karateImage.src} alt="Karate Class"></img>
                </div>
                <div class="p-5">
                    <h4 class="text-2xl">Karate Class</h4>
                    <ul>
                        <li>Ages - 6 years and up</li>
                        <li>$100 per month</li>
                    </ul>
                </div>
            </div>
            <div class="border border-black-100 rounded-md w-full md:w-[50%] lg:w-[33%] h-[700px]">
                <div>
                    <img class="rounded-md h-[500px]" src={quranIntensiveImage.src} alt="Quran Summer Camp"></img>
                </div>
                <div class="p-5">
                    <h4 class="text-2xl">Summer Quran Intensive Camp</h4>
                    <ul>
                        <li>Quran Memorization with proper Tajweed</li>
                        <li>Full month of July and August</li>
                    </ul>
                </div>
            </div>
        </div> -->

        <div class="flex">
            <button class="btn-navigate" data-direction="Prev">Prev</button>
            <button class="btn-navigate" data-direction="Next">Next</button>
        </div>
        <div class="slide-container w-full bg-gray-800 rounded-xl my-5">
        </div>

    </div>
</div>

<script>
    import { slide } from "astro:transitions"

    let slideContainer = document.querySelector('.slide-container') as HTMLDivElement
    const navigationButtons = document.querySelectorAll('.btn-navigate')

    let slides : Array<string>
    type LatestPostData = {
        "Title" : string,
        "Date" : Date,
        "Content" : string
    }
    let latestPostsData : Array<LatestPostData> = [{
        Title:"One",
        Date : new Date(),
        Content : "111 1111111 11111"
        },
        {
        Title:"Two",
        Date : new Date(),
        Content : "222 2222222 22222"
        },
        {
        Title:"Three",
        Date : new Date(),
        Content : "333 3333333 33333"
        },
        {
        Title:"Four",
        Date : new Date(),
        Content : "444 4444444 44444"
        }
    ]
    let currentSlideIndex = 0
    let prevSlideIndex = -1
    let timer: number
    let slideClasses = ['w-full', 'h-[100px]', 'bg-blue-800', 'text-white', 'p-5', 'hidden']
    let slideContainers : Array<HTMLDivElement> = []
    
    function prepareSlides(){
        latestPostsData.map((post, i) => {
            let slideDiv = document.createElement("div")
            slideDiv.id = `slide${i}`
            slideDiv.classList.add(...slideClasses)
            slideDiv.classList.add(slideDiv.id)
            slideContainer.appendChild(slideDiv)
            slideContainers.push(slideDiv)

            let slideTitle = document.createElement("h1")
            slideTitle.innerText = post.Title
            slideDiv.appendChild(slideTitle)

            let slideContent = document.createElement('p')
            slideContent.textContent = post.Content
            slideDiv.appendChild(slideContent)
        })
    }
    
    function changeSlide(){
        let currentSlideClassList = slideContainers[currentSlideIndex].classList
        
        if(prevSlideIndex !== -1){
            let prevSlideClassList = slideContainers[prevSlideIndex].classList 
            if(prevSlideClassList.contains('block'))
                prevSlideClassList.remove('block')
            if(!prevSlideClassList.contains('hidden'))
                prevSlideClassList.add('hidden')
        }
        
        currentSlideClassList.remove('hidden')
        currentSlideClassList.add('block')
        
        prevSlideIndex = currentSlideIndex

        if(currentSlideIndex < slideContainers.length -1)
            currentSlideIndex++
        else currentSlideIndex=0

        timer = setTimeout(changeSlide, 3000)

    }

    prepareSlides()
    changeSlide()

    function moveSlidePrevOrNext(direction:string){
        let moveSlideIndex = (currentSlideIndex === 0) ? slideContainers.length-1 : currentSlideIndex - 1
        if(direction === 'Prev'){
            if(moveSlideIndex===0){
                currentSlideIndex=slideContainers.length-1
            }
            else{
                currentSlideIndex = moveSlideIndex - 1
            }
        }else{
            if(moveSlideIndex === slideContainers.length -1){
                currentSlideIndex=0
            }
            else {
                currentSlideIndex = moveSlideIndex + 1
            }
        }

        clearTimeout(timer)
        timer=0
        
        changeSlide()
    }

    navigationButtons.forEach(btn => btn.addEventListener('click', e => {
        let btn = e.target && (e.target) as HTMLButtonElement
        let direction = btn?.getAttribute('data-direction') as string
        moveSlidePrevOrNext(direction)
    }))
    

</script>