<div class="bg-deepTeal px-4 p-2 md:px-8 md:py-2 mx-auto">
    <div class="container mt-1">
        <div class="rounded-xl text-gray-100 p-5 md:p-20">
            <div>
                <h2 class="text-4xl font-black">OIAC Newsletter</h2>

<div class="keela-embed-form my-2" data-src="https://signup-can.keela.co/embed/fQ8yd3W6JvoAPYWfP">
    <div class="keela-loading"><div></div><div></div><div></div><div></div></div>
</div>