---
import { getStaffMembers, type Staff } from "../graphql/staff";
import defaultProfilePicture from "../assets/blank-profile-picture.png";
const staffMembers: Array<Staff> = await getStaffMembers();
// const staffTypes = [
//   ...new Set(staffMembers?.map((staff) => staff?.staffType?.name) ?? []),
// ];

const specificStaffType = "Board Member";
const staffTypes = [
  specificStaffType,
  ...new Set(
    staffMembers
      ?.map((staff) => staff?.staffType?.name)
      .filter((type) => type !== specificStaffType) ?? []
  ),
];

// // Order staff types as desired
// const staffTypes = [
//   ...new Set(staffMembers.map((staff) => staff.staffType.name)),
// ].sort();
//Previous code without sort by display order
// const groupedStaff =
//   staffMembers?.length > 0
//     ? staffMembers.reduce(
//         (acc, staff) => {
//           const type = staff?.staffType?.name || "Unknown";
//           if (!acc[type]) {
//             acc[type] = [];
//           }
//           acc[type].push(staff);
//           return acc;
//         },
//         {} as Record<string, Staff[]>
//       )
//     : {};
const groupedStaff =
  staffMembers?.length > 0
    ? staffMembers.reduce(
        (acc, staff) => {
          const type = staff?.staffType?.name || "Unknown";
          if (!acc[type]) {
            acc[type] = [];
          }

          // Insert staff into the correct sorted position
          const index = acc[type].findIndex(
            (s) => (s.displayOrder || 0) > (staff.displayOrder || 0)
          );
          if (index === -1) {
            acc[type].push(staff); // Add to the end if no larger displayOrder is found
          } else {
            acc[type].splice(index, 0, staff); // Insert at the correct position
          }

          return acc;
        },
        {} as Record<string, Staff[]>
      )
    : {};
---

<div class="container mx-auto px-6 sm:px-8 py-16">
  {
    staffTypes.length > 0 ? (
      <div class="space-y-16">
        {staffTypes.map((type) => (
          <section
            class={`rounded-2xl shadow-xl overflow-hidden p-8 sm:p-12 mb-8 transition-all duration-300 hover:shadow-2xl ${
              type === specificStaffType ? "bg-terracottaRed-darker" : "bg-white"
            }`}
          >
            {/* Section Header */}
            <h2
              class={`text-3xl font-bold mb-8 border-b-2 border-softBeige-lighter pb-4 ${
                type === specificStaffType
                  ? "text-white"
                  : "text-terracottaRed-darker"
              }`}
            >
              {type}s
            </h2>

            {/* Staff List */}
            <div class="grid gap-12">
              {groupedStaff[type]?.map((staff, index) => (
                <article
                  class={`group p-8 md:p-10 flex flex-col md:flex-row gap-8 items-center md:items-start rounded-xl transition-all duration-300 ${
                    type === specificStaffType
                      ? "hover:bg-slate-800"
                      : "hover:bg-slate-200"
                  }`}
                  aria-labelledby={`staff-${staff.id || index}`}
                >
                  {/* Staff Image */}
                  <div class="flex-shrink-0 w-48 transition-transform duration-300 group-hover:scale-105">
                    <img
                      src={
                        staff.profilePicture?.url || defaultProfilePicture.src
                      }
                      alt={
                        staff.name
                          ? `${staff.name}'s profile picture`
                          : "Default profile picture"
                      }
                      class="w-48 h-48 bg-sageGreen rounded-full object-cover border-4 border-gray-500 shadow-lg transition-all duration-300 group-hover:border-emerald-300"
                    />
                  </div>

                  {/* Staff Details */}
                  <div class="flex-grow text-center md:text-left md:ml-10">
                    <h3
                      id={`staff-${staff.id || index}`}
                      class={`text-2xl font-bold mb-3 ${
                        type === specificStaffType
                          ? "text-sageGreen-light"
                          : "text-terracottaRed"
                      }`}
                    >
                      {staff.name || "Name unavailable"}
                    </h3>

                    {staff.title && (
                      <p
                        class={`text-lg font-medium mb-6 ${
                          type === specificStaffType
                            ? "text-gray-400"
                            : "text-emerald-600"
                        }`}
                      >
                        {staff.title}
                      </p>
                    )}
                    {staff.description && (
                      <div
                        class={`prose prose-lg prose-emerald max-w-none prose-p:mt-2 prose-p:mb-2 ${
                          type === specificStaffType
                            ? "text-sageGreen-lighter"
                            : "text-gray-600"
                        }`}
                        set:html={staff.description.html}
                      />
                    )}
                  </div>
                </article>
              ))}
            </div>
          </section>
        ))}
      </div>
    ) : (
      <p class="text-center text-gray-500 text-lg">
        No staff information available at this time.
      </p>
    )
  }
</div>
