---

---

<div class="px-4 p-2 md:px-8 md:py-2 mx-auto">
  <div class="container mt-5">
    <div class="bg-wood2 rounded-xl text-gray-900 p-5">
      <div class="p-2 md:p-5 mb-5">
        <h4 class="text-4xl font-black mb-5">Volunteer with us</h4>
        <div class="my-3">
            <p>
          We encourage you to share your experience and time to one of our many
          Projects in our Masjid.
        </p>
        <p>Please fill in your details and let us get back to you.</p>
        <p>Jazakumullah Khair.</p>
        </div>
        
        <script
          type="text/javascript"
          src="https://form-can.keela.co/js/iframeResizer.min.js"
          onload="iFrameResize({checkOrigin: false, heightCalculationMethod: 'taggedElement'}, '#keela_5t2d5GQwrBJ6gj6ag')"
          async></script><iframe
          id="keela_5t2d5GQwrBJ6gj6ag"
          style="width: 100%; min-height: 500px;"
          frameborder="0"
          src="https://form-can.keela.co/embed/volunteer-OIAC"></iframe>
      </div>
    </div>
  </div>
</div>
