---
---
<div class="px-4 p-2 md:px-8 md:py-2 mx-auto">
    <div class="container grid grid-cols-1 content-stretch mt-5">
        <div class=""><h4 class="font-bold text-cyan-600">Welcome To</h4></div>
        <div class=""><h1 class="text-6xl font-bold text-blue-950">Omar Ibn Al Khattab Centre</h1></div>
        <div class="mt-5"><h3 class="text-lg text-sky-600">Striving to serve the best interests of Islam and the Muslims of Edmonton</h3></div>
        <div class="mt-5"><h6 class="text-emerald-500">6005 103A St NW, Edmonton</h6></div>
    </div>

    <div class="container flex flex-wrap items-start">
        <div class="bg-emerald-50 border border-emerald-200 rounded-md px-2 py-1 my-1 mr-3">5 DAILY PRAYERS</div>
        <div class="bg-emerald-50 border border-emerald-200 rounded-md px-2 py-1 my-1 mr-3">COUNSELLING WITH OUR IMAM ABOUT LIFE RELATED ISSUES</div>
        <div class="bg-emerald-50 border border-emerald-200 rounded-md px-2 py-1 my-1 mr-3">PRAYER AREA FOR SISTERS WITH SEPARATE ENTERANCE</div>
        <div class="bg-emerald-50 border border-emerald-200 rounded-md px-2 py-1 my-1 mr-3">VARIOUS SOCIAL ACTIVITIES</div>
    </div>        
</div>