---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Announcements from "../components/Announcements.astro";
import OIAC_Logo from "../assets/OIAC.Logo.DarkBg.Browser.Titlebar.ico";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href={OIAC_Logo} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdn.keela.co/forms/keela-forms.min.css"
      type="text/css"
    />
    <script
      async
      type="text/javascript"
      src="https://cdn.keela.co/forms/keela-forms.min.js"></script>
    <script async>
      window.Keela = { id: "XzwEwMNvQMM8FeD5N" };
    </script>
  </head>
  <body class="bg-softBeige-lightest">
    <Header />
    <Announcements />
    <main id="main-content">
      <slot />
    </main>
    <Footer />
  </body>
</html>
